/* common */
body {
    margin: 0;
}

.layout {
    min-height: 100vh
}

.container__fluid-lg {
    margin: 0 auto;
    max-width: 1200px;
    padding: 0 15px;
}

.container__fluid-sm {
    margin: 0 auto;
    max-width: 900px;
    padding: 0 20px;
}

.footer__simple {
    text-align: center;
    position: fixed;
    bottom: 0;
    left: 0;
    right: 0;
}

.spinner {
    position: absolute;
    left: 50%;
    top: 40%;

}